:root {
	--color-outline-orange: #DD6B20;
}

button:focus {
	outline: none;
}

a:focus:focus-visible,
button:focus:focus-visible,
input:focus:focus-visible,
textarea:focus:focus-visible,
select:focus:focus-visible {
	outline: var(--color-outline-orange) auto 1px;
	outline-offset: 1px;
}