/*
.hl-pause-overlay {
	width: 100%;
	height: 100%;
	background: #000000ab;
	background: #272727;
	color: white;
	left: 0px;
	top: 0px;
	position: fixed;
	overflow: hidden !important;
	z-index: 2147483647;
}
*/
.hl-prompt-body-reason {
	font-size: 20px;
	/*padding-top: 15px;*/
	padding-bottom: 15px;
	font-weight: 700;
}

.hl-prompt-body-detail {
	font-size: 18px;
	padding-bottom: 15px;
	font-weight: 300;
}

.hl-prompt-footer {
	font-weight: 300;
	font-size: 14px;
	position: absolute;
	bottom: 20px;
}

.hl-prompt-footer a {
	color: lightblue;
}


.hl-pause-prompt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 450px;
	background: #3949ab;
	color: white;
	/*text-align: center;*/
	user-select: none !important;
	padding: 0px;
}

#hl-prompt-logo {
	padding: 10px 30px;
	text-align: left;
	background: #1a237e;
}

.fa-exclamation-triangle {
	color: #ffc107;
	font-size: 1.1em !important;
}

#hl-prompt-icon {
	padding: 20px;
}

#hl-prompt-header {
	/*padding: 20px;*/
	padding: 30px 20px 20px 30px !important;
	font-size: 30px !important;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	/*line-height: 20px;*/
	text-align: left;
	/*padding-left: 30px;*/
}

#hl-prompt-header-text {
	display: inline-block;
}

#hl-prompt-body {
	padding: 0px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	/*line-height: 20px;*/
	text-align: left;
	padding-left: 30px;
}

.hl-hide-overflow {
	overflow: hidden !important;
}

.pause-prompt {
	position: relative;
    z-index: 99999999 !important;
    background: white;
    color: black;
    padding: 40px;
    font-size: 13px;
}
.pause-body {
    text-align: center;
    padding: 30px 0px 0px 20px
}
.pause-body .btn {
    padding: .375rem .75rem;
    font-size: 16px;
    margin-left: 10px;
}
.close-pause {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    cursor: pointer;
}
.close-pause:hover {
    opacity: 0.8
}

.pause-overlay {
	z-index: 9999999;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 1);
}
.hl-pause-overlay {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	z-index: 9999999;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 1);
	padding-top: 235px;
	padding-bottom: 235px;
}

@media (min-width: 1200px) and (min-height: 800px) {
	.hl-pause-overlay {
		padding-top: 235px;
		padding-bottom: 375px;
	}
}